<h2 mat-dialog-title class="dialog-title">
  <mat-icon *ngIf="data.type === 'warning'" color="warn">warning</mat-icon>
  <mat-icon *ngIf="data.type === 'confirm'" color="primary">check_circle</mat-icon>
  {{ data.title || 'Confirm' }}
</h2>

<div mat-dialog-content>
  <h5>{{ data.heading }}</h5>
  <p>{{ data.subtext }}</p>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">
    {{ data.cancelText || 'Cancel' }}
  </button>
  <button mat-raised-button color="primary" (click)="onConfirm()">
    {{ data.confirmText || 'Confirm' }}
  </button>
</div>